%box-sizing {
  box-sizing:border-box;
}
%transition03 {
  transition: background-color 0.3s ease-in-out;
}

%clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html %clearfix             { zoom: 1; } /* IE6 */
*:first-child+html %clearfix { zoom: 1; } /* IE7 */
