.btn {
  padding: calc-em(20px) calc-em(40px) calc-em(20px) calc-em(40px);
  border-radius: 0;
  border: none;
  cursor: pointer;

  &_success {
    background: $button-success-color;
    margin-right: calc-em(16px);
    color: #fff;
    a {
      text-decoration: none;
      color: #fff;
    }

    &:hover {
      background: $button-success-hover;
    }
  }

  &_delete {
    background: $button-delete-color;
    color: #fff;
    margin-right: calc-em(10px);

    &:hover {
      background: $button-delete-hover;
    }
  }

  &_default {
    background: $primaryColor;
    color: #fff;

    &:hover {
      background: $secondaryColor;
    }
  }

  &_warning {

  }

  &.publish {
    margin-top: -5em;
  }
}
