.list-unstyled {
  list-style:none;
  padding:0;
  margin:0;
}

.bootstrap-datetimepicker-widget {

  table {
        td {

            &.day {
              height:calc-em(60px) !important;
            }
            &.active {
              background: $primaryColor !important;
            }
            &.old {
                background: rgb(230,230,230) !important;
            }
            &.new {
                background: rgb(230,230,230) !important;
            }

        }

    }
}
