header.header {
  position:fixed;
  top:0;
  z-index:1000;
  width:100%;
  min-height:calc-em(60px);
  background:$primaryColor;

  .logo {
    line-height: 60px;
    color: #fff;
    font-size: 1.25em;
    text-decoration: none;

    strong {
      color: $dark;
    }
  }

  .username {
    line-height: calc-em(60px);
    float: right;
    color: #fff;
  }
}
