.single-overview {
  @extend %box-sizing;
  background: #fff;
  border: calc-em(1px) solid rgb(225, 225, 225);
  display: block;
  padding: calc-em(15px);
  text-decoration: none;
  color: $secondaryColor;

  .single-title {
    margin-top:0;
  }

}
.single-edit {
  margin-top:calc-em(20px);
  @extend %box-sizing;
  background: #fff;
  border: calc-em(1px) solid rgb(225, 225, 225);
  display: block;
  padding: calc-em(15px);
  text-decoration: none;
  color: $secondaryColor;
}
