extends ./layout.jade

block title
  title Bookings

block content
  div.row
    div.column
      if (!bookings.length)
        h2 You have no bookings
      ul.large-block-grid-1.medium-block-grid-1.small-block-grid-1
        for booking in bookings
          li
            div.card
              div.booking-item
                h1.card_title #{booking.bookingType}
                if (user)
                  form(method='POST', action='/bookings/delete/#{booking._id}?_method=DELETE', class='delete_form', style='display: inline-block')
                    button(type='submit', class='btn btn_delete left') <i class="fa fa-close"></i> delete
                  button(class='btn btn_success left')
                    a(href='/bookings/#{booking._id}') Details
