extends ./layout.jade

block title
  title Home

block content
  div.row
    div.column
      div.heading-section
        h1.home-title Welcome to Book-it!
        p.lead - <em>Where plans are saved</em>
