extends ./layout

block content
  .container
    h1 Login Page
    form(role='form', action='/login', method='post', class='login-form', style='max-width: 300px;')
      input.form-control(type='text', name='username', placeholder='Enter Username')
      input.form-control(type='password', name='password', placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      a(href='/', class='cancel-btn')
        button.btn.btn-primary(type='button') Cancel
